<div class="col-lg-4">
    <div class="properties properties2 mb-30">
        <div class="properties__card">
            <a
                href="https://wa.me/6289656432988?text=Hallo%20RaihCita%20%F0%9F%AA%81%2C%20Saya%20ingin%20mendaftar%20Program%20Raih%20{{ tutor }}%20(Kode: {{ ref }})%20Private%20Class%20bersama%20Kak%20Mutiara%20dong!%20%0ANama%20%3A%0ANo%20HP%20%3A%0AEmail%20%3A%0AKesibukan%20%3A%0ATarget%20TOEFL%20%3A%0ATerima%20kasih"><img
                    src="{{ config.ASSETS_ROOT }}/home/img/gallery/mutiara.jpg" alt=""
                    style="display: block; width: 50%; margin-left: auto; margin-right: auto;" /></a>
            <div class="properties__caption">
                <p>TOEFL ITP 597 | IELTS 7,5</p>
                <h3>
                    <a
                        href="https://wa.me/6289656432988?text=Hallo%20RaihCita%20%F0%9F%AA%81%2C%20Saya%20ingin%20mendaftar%20Program%20Raih%20{{ tutor }}%20(Kode: {{ ref }})%20Private%20Class%20bersama%20Kak%20Mutiara%20dong!%20%0ANama%20%3A%0ANo%20HP%20%3A%0AEmail%20%3A%0AKesibukan%20%3A%0ATarget%20TOEFL%20%3A%0ATerima%20kasih">Mutiara</a>
                </h3>
                <p>
                    • Pengalaman mengajar sekitar 4 tahun <br>
                    • Coach World Scholar's Cup<br>
                </p>
                <center>
                    <hr>
                    <h3> Jadwal</h3>

                    <strong>
                        <p>Selasa: 06.00-09.00 WIB <br>
                            Rabu: 06.00-09.00 WIB <br>
                            Jumat: 06.00-09.00 WIB </p>
                    </strong>
                </center>

                <a href="https://wa.me/6289656432988?text=Hallo%20RaihCita%20%F0%9F%AA%81%2C%20Saya%20ingin%20mendaftar%20Program%20Raih%20{{ tutor }}%20(Kode: {{ ref }})%20Private%20Class%20bersama%20Kak%20Mutiara%20dong!%20%0ANama%20%3A%0ANo%20HP%20%3A%0AEmail%20%3A%0AKesibukan%20%3A%0ATarget%20TOEFL%20%3A%0ATerima%20kasih"
                    class="border-btn border-btn2">Pilih</a>
            </div>
        </div>
    </div>
</div>