<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar">
  <div class="navbar-wrapper">
    <div class="navbar-brand header-logo">
      <a href="/index" class="b-brand">
        <img
          src="{{ config.ASSETS_ROOT }}/images/logo.png"
          alt="Raih Cita"
          width="32"
          height="32"
        />
        <span class="b-title">Raih Cita</span>
      </a>
      <a class="mobile-menu" id="mobile-collapse" href="javascript:"
        ><span></span
      ></a>
    </div>
    <div class="navbar-content scroll-div">
      <ul class="nav pcoded-inner-navbar">
        <li class="nav-item pcoded-menu-caption">
          <label>Navigation</label>
        </li>
        <li
          data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
          class="nav-item {% if 'index' in segment %} active {% endif %}"
        >
          <a href="/index" class="nav-link"
            ><span class="pcoded-micon"><i class="feather icon-home"></i></span
            ><span class="pcoded-mtext">Dashboard</span></a
          >
        </li>

        <!-- 
        <li
          data-username="Profile Page"
          class="nav-item {% if 'profile' in segment %} active {% endif %}"
        >
          <a href="/profile" class="nav-link">
            <span class="pcoded-micon"><i class="feather icon-user"></i></span>
            <span class="pcoded-mtext">Profil</span></a
          >
        </li>
-->
        <li class="nav-item pcoded-menu-caption">
          <label>Placement Test</label>
        </li>
        <li
          data-username="form elements advance componant validation masking wizard picker select"
          class="nav-item {% if 'sni' in segment %} active {% endif %}"
        >
          <a href="#" class="nav-link"
            ><span class="pcoded-micon"
              ><i class="feather icon-file-text"></i></span
            ><span class="pcoded-mtext">Free Placement Test</span></a
          >
        </li>
        <!-- 
        <li
          data-username="form elements advance componant validation masking wizard picker select"
          class="nav-item {% if 'hasil' in segment %} active {% endif %}"
        >
          <a href="/full" class="nav-link"
            ><span class="pcoded-micon"
              ><i class="feather icon-file-text"></i></span
            ><span class="pcoded-mtext">Full Placement Test</span></a
          >
        </li>
           -->

        <li class="nav-item pcoded-menu-caption">
          <label>TOEFL Simulation Test</label>
        </li>
        <li
          data-username="form elements advance componant validation masking wizard picker select"
          class="nav-item {% if 'konsultasi' in segment %} active {% endif %}"
        >
          <a href="/toefl-listening" class="nav-link"
            ><span class="pcoded-micon"
              ><i class="feather icon-file-text"></i></span
            ><span class="pcoded-mtext">Listening Comprehension</span></a
          >
        </li>
        <li
          data-username="form elements advance componant validation masking wizard picker select"
          class="nav-item {% if 'jadwal' in segment %} active {% endif %}"
        >
          <a href="#" class="nav-link"
            ><span class="pcoded-micon"
              ><i class="feather icon-file-text"></i></span
            ><span class="pcoded-mtext"
              >Structure and Written Expression</span
            ></a
          >
        </li>
        <li
          data-username="form elements advance componant validation masking wizard picker select"
          class="nav-item {% if 'jadwal' in segment %} active {% endif %}"
        >
          <a href="#" class="nav-link"
            ><span class="pcoded-micon"
              ><i class="feather icon-file-text"></i></span
            ><span class="pcoded-mtext">Reading Comprehension</span></a
          >
        </li>
        <!-- 
        <li class="nav-item pcoded-menu-caption">
          <label>Produk Raih Cita </label>
        </li>
        <li
          data-username="form elements advance componant validation masking wizard picker select"
          class="nav-item {% if 'produk' in segment %} active {% endif %}"
        >
          <a href="/produk.html" class="nav-link"
            ><span class="pcoded-micon"
              ><i class="feather icon-file-text"></i></span
            ><span class="pcoded-mtext">Produk Raih Cita</span></a
          >
        </li>
        <li class="nav-item pcoded-menu-caption">
          <label>Logout</label>
        </li>

        <li data-username="Disabled Menu" class="nav-item">
          <a
            href="{{ url_for('authentication_blueprint.logout') }}"
            class="nav-link"
          >
            <span class="pcoded-micon"><i class="feather icon-power"></i></span
            ><span class="pcoded-mtext">Logout</span>
          </a>
        </li>
        -->
      </ul>
    </div>
  </div>
</nav>
<!-- [ navigation menu ] end -->
