<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
        {% block title %}{% endblock %} | Raih Cita
    </title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% include 'includes/head.html'%}
</head>

<body>
    {% include 'includes/topnav.html'%}
    {% block main %}{% endblock %}

    {% include 'includes/footer.html'%}
</body>

</html>