<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>RaihCita | Raih Cita-mu Sekarang</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link
    rel="shortcut icon"
    type="image/x-icon"
    href="{{ config.ASSETS_ROOT }}/images/favicon.ico"
  />

  <!-- CSS here -->
  <link
    rel="stylesheet"
    href="{{ config.ASSETS_ROOT }}/home/css/bootstrap.min.css"
  />
  <link
    rel="stylesheet"
    href="{{ config.ASSETS_ROOT }}/home/css/owl.carousel.min.css"
  />
  <link
    rel="stylesheet"
    href="{{ config.ASSETS_ROOT }}/home/css/slicknav.css"
  />
  <link
    rel="stylesheet"
    href="{{ config.ASSETS_ROOT }}/home/css/flaticon.css"
  />
  <link
    rel="stylesheet"
    href="{{ config.ASSETS_ROOT }}/home/css/progressbar_barfiller.css"
  />
  <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/home/css/gijgo.css" />
  <link
    rel="stylesheet"
    href="{{ config.ASSETS_ROOT }}/home/css/animate.min.css"
  />
  <link
    rel="stylesheet"
    href="{{ config.ASSETS_ROOT }}/home/css/animated-headline.css"
  />
  <link
    rel="stylesheet"
    href="{{ config.ASSETS_ROOT }}/home/css/magnific-popup.css"
  />
  <link
    rel="stylesheet"
    href="{{ config.ASSETS_ROOT }}/home/css/fontawesome-all.min.css"
  />
  <link
    rel="stylesheet"
    href="{{ config.ASSETS_ROOT }}/home/css/themify-icons.css"
  />
  <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/home/css/slick.css" />
  <link
    rel="stylesheet"
    href="{{ config.ASSETS_ROOT }}/home/css/nice-select.css"
  />
  <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/home/css/style.css" />
</head>
