<!-- ? Preloader Start -->
<div id="preloader-active">
  <div class="preloader d-flex align-items-center justify-content-center">
    <div class="preloader-inner position-relative">
      <div class="preloader-circle"></div>
      <div class="preloader-img pere-text">
        <img src="{{ config.ASSETS_ROOT }}/home/img/logo/loder.png" alt="" />
      </div>
    </div>
  </div>
</div>
<!-- Preloader Start -->
<header>
  <!-- Header Start -->
  <div class="header-area header-transparent" id="home">
    <div class="main-header">
      <div class="header-bottom header-sticky">
        <div class="container-fluid">
          <div class="row align-items-center">
            <!-- Logo -->
            <div class="col-xl-2 col-lg-2">
              <div class="logo">
                <a href="/"
                  ><img
                    src="{{ config.ASSETS_ROOT }}/home/img/logo/logo.png"
                    alt=""
                /></a>
              </div>
            </div>
            <div class="col-xl-10 col-lg-10">
              <div
                class="menu-wrapper d-flex align-items-center justify-content-end"
              >
                <!-- Main-menu -->
                <div class="main-menu d-none d-lg-block">
                  <nav>
                    <ul id="navigation">
                      <li class="active"><a href="#home">Home</a></li>
                      <li><a href="#courses">Program</a></li>
                      <li><a href="#about">Tentang</a></li>
                      <!-- Button -->
                      <li class="button-header margin-left">
                        <a
                          href="https://wa.me/6289656432988?text=Hello%20RaihCita%2C%20ingin%20bertanya%20dong!%20%F0%9F%AA%81%F0%9F%9A%80%F0%9F%8E%87"
                          class="btn"
                          >Daftar Gratis</a
                        >
                      </li>
                      <li class="button-header">
                        <a
                          href="https://wa.me/6289656432988?text=Hello%20RaihCita%2C%20ingin%20bertanya%20dong!%20%F0%9F%AA%81%F0%9F%9A%80%F0%9F%8E%87"
                          class="btn btn3"
                          >WhatsApp Kami</a
                        >
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
            <!-- Mobile Menu -->
            <div class="col-12">
              <div class="mobile_menu d-block d-lg-none"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header End -->
</header>
