<div class="col-lg-4">
  <div class="properties properties2 mb-30">
    <div class="properties__card">
      <div class="properties__img overlay1">
        <a href="/ieltsacprivate"><img src="{{ config.ASSETS_ROOT }}/home/img/gallery/privateieltsac.png" alt="" /></a>
      </div>
      <div class="properties__caption">
        <p>IELTS Private</p>
        <h3>
          <a href="/ieltsacprivate">Program IELTS Academic Private</a>
        </h3>
        <p>
          Program Raih IELTS Academic secara Private dirancang untuk membantu
          kamu mencapai skor IELTS impianmu dengan cara yang menyenangkan dan
          efektif.
        </p>
        <div class="properties__footer d-flex justify-content-between align-items-center">
          <div class="price">
            <span>Rp149.000 / 90 menit</span>
          </div>
        </div>
        <a href="/ieltsacprivate" class="border-btn border-btn2">Find out more</a>
      </div>
    </div>
  </div>
</div>