<div class="col-lg-4">
  <div class="properties properties2 mb-30">
    <div class="properties__card">
      <div class="properties__img overlay1">
        <a href="ieltswhvprivate"><img src="{{ config.ASSETS_ROOT }}/home/img/gallery/privateieltsgt.png" alt="" /></a>
      </div>
      <div class="properties__caption">
        <p>IELTS General Training WHV Private</p>
        <h3>
          <a href="ieltswhvprivate">IELTS General Training WHV Private Class</a>
        </h3>
        <p>
          Program Raih IELTS General Training WHV secara Private dirancang untuk
          membantu kamu mencapai skor IELTS impianmu untuk mendapatkan Working
          Holiday Visa di Australia.
        </p>
        <h4>Rp149.000 / 90 Menit</h4>
        <div class="properties__footer d-flex justify-content-between align-items-center">
          <div class="price">
            <span>Rp1.499.000 / 15 Jam</span>
          </div>
        </div>
        <a href="/ieltswhvprivate" class="border-btn border-btn2">Lihat Detail Kelas</a>
      </div>
    </div>
  </div>
</div>