<div class="col-lg-4">
    <div class="properties properties2 mb-30">
        <div class="properties__card">
            <div class="properties__img overlay1">
                <a href="#"><img src="{{ config.ASSETS_ROOT }}/home/img/gallery/ieltsfree.png" alt="" /></a>
            </div>
            <div class="properties__caption">
                <p>IELTS Academic</p>
                <h3>
                    <a href="#">IELTS Academic Free Class</a>
                </h3>
                <p>
                    Kelas IELTS Academic gratis dirancang untuk membantu kamu mempersiapkan IELTS Academic dengan cara yang menyenangkan dan efektif.
                </p>
                <div class="properties__footer d-flex justify-content-between align-items-center">
                    <div class="price">
                        <span>Gratis</span>
                    </div>
                </div>
                <a href="#" class="border-btn border-btn2">Lihat Detail Kelas
                </a>
            </div>
        </div>
    </div>
</div>