<div class="col-lg-4">
  <div class="properties properties2 mb-30">
    <div class="properties__card">
      <div class="properties__img overlay1">
        <a href="/mentoringprivate"><img src="{{ config.ASSETS_ROOT }}/home/img/gallery/privatescholarship.png"
            alt="" /></a>
      </div>
      <div class="properties__caption">
        <p>Konsultasi dan Mentoring</p>
        <h3>
          <a href="/mentoringprivate">Program Raih Beasiswa</a>
        </h3>
        <p>
          Program Raih Beasiswa dirancang untuk membantu kamu menyusun CV,
          motivation letter, essay beasiswa, dan persyaratan lainnya.
        </p>
        <div class="properties__footer d-flex justify-content-between align-items-center">
          <div class="price">
            <span>Rp98.000 / 90 menit</span>
          </div>
        </div>
        <a href="/mentoringprivate" class="border-btn border-btn2">Lihat Detail Kelas</a>
      </div>
    </div>
  </div>
</div>