<div class="col-lg-4">
  <div class="properties properties2 mb-30">
    <div class="properties__card">
      <div class="properties__img overlay1">
        <a href="/speakingprivate"><img src="{{ config.ASSETS_ROOT }}/home/img/gallery/privatespeaking.png"
            alt="" /></a>
      </div>
      <div class="properties__caption">
        <p>Speaking Private</p>
        <h3>
          <a href="/speakingprivate">Speaking Private Class</a>
        </h3>
        <p>
          Belajar Speaking secara Private dirancang untuk membantu kamu
          mempelajari Speaking sesuai dengan kemampauan kamu.
        </p>
        <div class="properties__footer d-flex justify-content-between align-items-center">
          <div class="price">
            <span>Rp79.000 / 90 menit</span>
          </div>
        </div>
        <a href="/speakingprivate" class="border-btn border-btn2">Lihat Detail Kelas</a>
      </div>
    </div>
  </div>
</div>