<div class="col-lg-4">
  <div class="properties properties2 mb-30">
    <div class="properties__card">
      <div class="properties__img overlay1">
        <a href="/learning-center"><img src="{{ config.ASSETS_ROOT }}/home/img/gallery/toefl-simulation.png"
            alt="" /></a>
      </div>
      <div class="properties__caption">
        <p>Learning Center</p>
        <h3>
          <a href="/learning-center">TOEFL Simulation Test</a>
        </h3>
        <p>
          Coba simulasi TOEFL gratis di Raih Cita Learning Center secara
          interaktif dan menyenangkan
        </p>
        <div class="properties__footer d-flex justify-content-between align-items-center">
          <div class="price">
            <span>Gratis</span>
          </div>
        </div>
        <a href="/learning-center" class="border-btn border-btn2">Lihat Detail Kelas
        </a>
      </div>
    </div>
  </div>
</div>