<div class="col-lg-4">
  <div class="properties properties2 mb-30">
    <div class="properties__card">
      <div class="properties__img overlay1">
        <a href="/toefl"
          ><img
            src="{{ config.ASSETS_ROOT }}/home/img/gallery/toefl-class.png"
            alt=""
        /></a>
      </div>
      <div class="properties__caption">
        <p>TOEFL ITP</p>
        <h3>
          <a href="/toefl">TOEFL Preparation Class</a>
        </h3>
        <p>
          Kelas TOEFL dirancang untuk membantu kamu mempersiapkan TOEFL ITP
          dengan cara yang menyenangkan dan efektif.
        </p>
        <div
          class="properties__footer d-flex justify-content-between align-items-center"
        >
          <div class="price">
            <span>Rp99.000 / 10 Pertemuan</span>
          </div>
        </div>
        <a href="/toefl" class="border-btn border-btn2">Lihat Detail Kelas </a>
      </div>
    </div>
  </div>
</div>
