{% extends "layouts/base.html" %} {% block title %} TOEFL Simulation Test {%
endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style></style>

{% endblock stylesheets %} {% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="page-header-title">
                                    <h5 class="m-b-10">TOEFL Simulation Test</h5>
                                </div>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="/"><i class="feather icon-home"></i></a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a href="javascript:">TOEFL Listening Comprehension</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ breadcrumb ] end -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    {% for message in get_flashed_messages() %}
                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    {% endfor %}
                                    <div class="card-header">
                                        <h5>Section 1: Listening Comprehension</h5>
                                    </div>
                                    <div class="card-body">
                                        <audio controls autoplay>
                                            <source src="{{ config.ASSETS_ROOT }}/audio/toefl.ogg" type="audio/ogg" />
                                            <source src="{{ config.ASSETS_ROOT }}/audio/toefl.mp3" type="audio/mpeg" />
                                            Your browser does not support the audio element.
                                        </audio>
                                        <p>
                                            In this section of the test, you will have an opportunity
                                            to demonstrate your ability to understand conversations
                                            and talks in English. There are 3 parts to this section,
                                            with special directions for each part. Answer all the
                                            questions on the basis of what is stated or implied by the
                                            speakers in this test.
                                        </p>

                                        <h5>Part A</h5>
                                        <hr />
                                        <div class="row">
                                            <div class="col-md-8">
                                                <h7>Directions: In Part A, you'll hear short
                                                    conversations between 2 people. After each
                                                    conversation, you will hear a question about the
                                                    conversation. The conversations and questions will not
                                                    be repeated. <br>
                                                    After you hear a question, read the 4
                                                    possible answers in your test book and choose the
                                                    best. Then, on your answer sheet, find the number of
                                                    the question and fill in the space that corresponds to
                                                    the letter of the answer you have chosen. <br /><br />
                                                </h7>
                                                <h7>Here is an example: <br />
                                                    On the recording, you hear:
                                                    <br />
                                                    <br />
                                                    What does the man mean? <br /><br />
                                                    In your test book, you read:
                                                    <br /><br />
                                                    (A) He does not like the painting either. <br />
                                                    (B) He does not know how to paint. <br />
                                                    (C) He does not have any paintings. <br />
                                                    (D) He does not know what to do. <br />
                                                    <br />
                                                    You learn from the conversation that neither the man
                                                    nor the woman likes the painting. The best answer to
                                                    the question "What does the man mean?" is (A), "He
                                                    does not like the painting either." Therefore, the
                                                    correct choice is (A).
                                                </h7>
                                                <br /><br />
                                                <h6>Now begin work on the question</h6>
                                                <form role="form" method="POST"
                                                    action="/learning/toefl/listening-result">
                                                    {% for q in questions %}
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-8">

                                                <label>{{ q.question }}</label>
                                                {% for choice in q.choices %}
                                                <div class="custom-control custom-radio">

                                                    <input type="radio" name="{{ q.id }}" value="{{ loop.index0 }}"
                                                        id="{{ loop.index0 }}{{ q.id }}" class="custom-control-input" />
                                                    <label class="custom-control-label"
                                                        for="{{ loop.index0 }}{{ q.id }}">{{ choice }}</label>

                                                </div>
                                                {% endfor %}

                                                <br />
                                                {% if q.id == 30 %}

                                                <p>
                                                <h5>Part B</h5>
                                                <hr>
                                                <h7> Directions: In this part of the test, you will hear longer
                                                    conversations. After each conversation, you will hear several
                                                    questions. The conversations and questions will not be repeated.
                                                    <br>
                                                    After you hear a question, read the 4 possible answers in your test
                                                    book and choose the best answer. Then, on your answer sheet, find
                                                    the number of the question and fill in the space that corresponds to
                                                    the letter of the answer you have chosen.
                                                </h7>
                                                </p>
                                                {% endif %}
                                                {% if q.id == 37 %}
                                                <h5>Part C</h5>
                                                <hr />

                                                <h7>Directions: In this part of the test, you will hear several short
                                                    talks. After each talk, you hear some questions. The talks and the
                                                    questions are not repeated. <br>
                                                    After you hear a question, read the 4 possible answers in your test
                                                    book and choose the best answer. Then, on your answer sheet, find
                                                    the number of the question and fill in the space that corresponds to
                                                    the letter of the answer you have chosen. <br /><br />

                                                    >Here is an example: <br />
                                                    On the recording, you hear: <br>
                                                    Now listen to a sample question:
                                                    <br />
                                                    <br />
                                                    In your test book, you read: What is the main purpose of the
                                                    program?
                                                    <br /><br />
                                                    (A) To demonstrate the latest use of computers graphics <br />
                                                    (B) To discuss the possibility of an economic depression <br />
                                                    (C) To explain the workings of the brain <br />
                                                    (D) To dramatize a famous mystery story <br />
                                                    <br />
                                                    The best answer to the question, "What is the main purpose of the
                                                    program?" is (C), explain the workings of the brain. "Therefore, the
                                                    correct answer is (C). <br><br>
                                                    Now listen to another sample question: <br>
                                                    In your test book, you read: <br><br>
                                                    Why does the speaker recommend snatching the program? <br>
                                                    (A) It is required of all Science majors. <br>
                                                    (B) It never be shown again. <br>
                                                    (C) It can help viewers improve their memory skills. <br>
                                                    (D) It will help with course work. <br><br>
                                                    The best answer to the question "Why does the speaker recommend
                                                    watching the program?" is (D), "It will help with course work.
                                                    "Therefore, the correct choice is (D). <br>
                                                </h7>
                                                <br /><br />
                                                <h6>Now begin work on the question</h6>
                                                <hr>
                                                {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn-primary">
                                            Submit Answers
                                        </button>
                                        </form>
                                    </div>
                                    <!-- Input group -->
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

    {% endblock content %}

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %} {% endblock javascripts %}
</div>
</div>
</div>