{% extends "layouts/base.html" %} {% block title %} TOEFL Structure & Written Expression {%
endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
    /* Disable text selection */
    body {
        -webkit-user-select: none;
        /* Chrome/Safari */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* IE/Edge */
        user-select: none;
        /* Standard */
    }

    .timer-container {
        position: fixed;
        /* Fix position relative to viewport */
        top: 40px;
        /* Distance from the top */
        right: 20px;
        /* Distance from the right */
        font-size: 14px;
        font-weight: bold;
        color: #ffffff;
        background: linear-gradient(135deg, #3f4d67, #8f94fb);
        padding: 10px 20px;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
        width: fit-content;
        margin: 20px;
        margin-left: auto;
        /* Added */
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        z-index: 9999;
        /* Ensure it’s above other content */
    }

    @keyframes pulse {
        0% {
            transform: scale(1);
            opacity: 1;
        }

        50% {
            transform: scale(1.05);
            opacity: 0.8;
        }

        100% {
            transform: scale(1);
            opacity: 1;
        }
    }
</style>

{% endblock stylesheets %} {% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="page-header-title">
                                    <h5 class="m-b-10">TOEFL Simulation Test</h5>
                                </div>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="/learning/toefl"><i class="feather icon-home"></i></a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a href="javascript:">TOEFL Structure and Written Expression</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ breadcrumb ] end -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    {% for message in get_flashed_messages() %}
                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    {% endfor %}

                                    <script async
                                        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3432965017603796"
                                        crossorigin="anonymous"></script>
                                    <!-- Learning Center Ads -->
                                    <ins class="adsbygoogle" style="display:block"
                                        data-ad-client="ca-pub-3432965017603796" data-ad-slot="3314571191"
                                        data-ad-format="auto" data-full-width-responsive="true"></ins>
                                    <script>
                                        (adsbygoogle = window.adsbygoogle || []).push({});
                                    </script>


                                    <div class="card-header">
                                        <h5>Section 2: Structure and Written Expression</h5>
                                    </div>
                                    <div id="timer" class="timer-container">00:00</div>
                                    <div class="card-body">

                                        <p>
                                            This section is designed to measure your ability to recognize language that
                                            is appropriate for standard written English. There are 2 types of questions
                                            in this section, with special directions for each type
                                        </p>

                                        <h5>Structure</h5>
                                        <hr />
                                        <div class="row">
                                            <div class="col-md-8">
                                                <h7>
                                                    Directions: Questions 1-15 are incomplete sentences. Beneath each
                                                    sentence you will see 4 words or phrases, marked (A), (B), (C) and
                                                    (D). Choose the word or phrase that best completes the sentence.
                                                    Then, on your answer sheet, find the number of the question and fill
                                                    in the space that corresponds to the letter of the answer you have
                                                    chosen <br /><br />
                                                </h7>

                                                <form id="examForm" role="form" method="POST"
                                                    action="/learning/toefl/structure-result">
                                                    {% for q in questions %}
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-8">

                                                <label>{{ q.question|safe }}</label>
                                                {% for choice in q.choices %}
                                                <div class="custom-control custom-radio">

                                                    <input type="radio" name="{{ q.id }}" value="{{ loop.index0 }}"
                                                        id="{{ loop.index0 }}{{ q.id }}" class="custom-control-input" />
                                                    <label class="custom-control-label"
                                                        for="{{ loop.index0 }}{{ q.id }}">{{ choice }}</label>

                                                </div>
                                                {% endfor %}

                                                <br />
                                                {% if q.id == 15 %}

                                                <p>
                                                <h5>Written Expression</h5>
                                                <hr>
                                                <h7> Directions: In questions 16-40, each sentence has 4 underlined
                                                    words or phrases. The
                                                    underlined parts of the sentence are marked (A), (B), (C) and (D).
                                                    Identify the underlined
                                                    word or phrase that must be changed in order for the sentence to be
                                                    correct. Then, on
                                                    your answer sheet, find the number of the question and fill in the
                                                    space that corresponds
                                                    to the letter of the answer you have chosen.</h7>
                                                </p>
                                                {% endif %}

                                                {% endfor %}
                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn-primary">
                                            Submit Answers
                                        </button>
                                        </form>
                                    </div>
                                    <!-- Input group -->
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

    {% endblock content %}

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}

    <script>
        let remaining = {{ remaining_seconds }};
        const timerDisplay = document.getElementById('timer');
        const form = document.getElementById('examForm');

        function formatTime(seconds) {
            const mins = Math.floor(seconds / 60);
            const secs = seconds % 60;
            return `${mins}:${secs < 10 ? '0' : ''}${secs}`;
        }

        function updateTimer() {
            if (remaining <= 0) {
                form.submit();  // auto-submit or redirect
            } else {
                timerDisplay.textContent = "⌛" + formatTime(remaining);
                remaining--;
                setTimeout(updateTimer, 1000);
            }
        }

        updateTimer();
    </script>


    {% endblock javascripts %}
</div>
</div>
</div>