{% extends "layouts/base-fullscreen.html" %} {% block title %} Masuk {% endblock
%} {% block content %}

<div class="auth-wrapper">
  <div class="auth-content">
    <div class="auth-bg">
      <span class="r"></span>
      <span class="r s"></span>
      <span class="r s"></span>
      <span class="r"></span>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <h3 class="mb-4">Masuk</h3>

        <span class="mb-0 text-muted">
          {% if msg %}
          <span class="text-danger">{{ msg | safe }}</span>
          {% else %} Siilahkan daftar terlebih dahulu {% endif %}
        </span>

        <br />
        <br />

        <form role="form" method="post" action="">
          {{ form.hidden_tag() }}

          <div class="input-group mb-3">
            {{ form.username(placeholder="Username or email",
            class="form-control") }}
          </div>

          <div class="input-group mb-4">
            {{ form.password(placeholder="Password", class="form-control",
            type="password") }}
          </div>

          <button
            type="submit"
            name="login"
            class="btn btn-primary shadow-2 mb-4"
          >
            Masuk
          </button>
        </form>

        <p class="mb-0 text-muted">
          Belum punya akun?
          <a href="{{ url_for('authentication_blueprint.register') }}"
            >Daftar</a
          >
        </p>
        <br />
        <p>atau</p>
        <a href="/google">
          <img
            src="{{ config.ASSETS_ROOT }}/images/google.png"
            alt="Login dengan Google"
            class="img-fluid"
            style="width: 200px"
        /></a>
      </div>
      <button id="login-button">Log in with Google</button>

      <script>
        const loginButton = document.getElementById("login-button");

        loginButton.addEventListener("click", () => {
          const authUrl = `https://ergocust.com/google`;

          const popup = window.open(
            authUrl,
            "Google Login",
            "width=500,height=600"
          );

          const checkPopupUrl = setInterval(() => {
            if (popup.closed) {
              clearInterval(checkPopupUrl);
            } else if (popup.location.href === "https://ergocust.com/index") {
              // Replace 'YOUR_SPECIFIC_URL_HERE' with the URL you want to check for
              popup.close();
            }
          }, 1000);
        });

        window.close();
      </script>
    </div>
  </div>
</div>

{% endblock content %}
