{% extends "layouts/base-ielts.html" %} {% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}


{% endblock stylesheets %} {% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->

                <!-- [ breadcrumb ] end -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <!-- [ statistics year chart ] start -->
                            <div class="col-xl-4 col-md-6">
                                <div class="card card-event">
                                    <div class="card-block">
                                        <div class="row align-items-center justify-content-center">
                                            <div class="col">
                                                <h5 class="m-0">Main Features</h5>
                                            </div>
                                            <div class="col-auto">
                                                <label class="label theme-bg2 text-white f-14 f-w-400 float-right">Raih
                                                    Cita</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-block border-bottom">
                                        <div class="row d-flex align-items-center">
                                            <div class="col-auto">
                                                <i class="feather icon-zap f-30 text-c-green"></i>
                                            </div>

                                            <div class="col">
                                                <a href="/learning/ielts/listening">
                                                    <h3 class="f-w-300">IELTS Listening</h3>
                                                </a>

                                                <span class="d-block text-uppercase">Master IELTS Listening with real
                                                    exam questions and immediate results</span>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="card-block border-bottom">
                                        <div class="row d-flex align-items-center">
                                            <div class="col-auto">
                                                <i class="feather icon-calendar f-30 text-c-blue"></i>
                                            </div>

                                            <div class="col">
                                                <a href="/learning/ielts/reading">
                                                    <h3 class="f-w-300">
                                                        IELTS Reading
                                                    </h3>
                                                </a>
                                                <span class="d-block text-uppercase">Practice IELTS Reading anytime with
                                                    interactive tests and detailed feedback.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--
                                    <div class="card-block">
                                        <div class="row d-flex align-items-center">
                                            <div class="col-auto">
                                                <i class="feather icon-box f-30 text-c-black"></i>
                                            </div>
                                            <div class="col">
                                                <a href="#">
                                                    <h3 class="f-w-300">IELTS Writing Task 1</h3>
                                                </a>

                                                <span class="d-block text-uppercase">Sharpen your IELTS Writing skills
                                                    with authentic tests and instant feedback.</span>
                                            </div>
                                        </div>
                                    </div> -->

                                </div>
                            </div>
                            <!-- [ statistics year chart ] end -->


                            <script async
                                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3432965017603796"
                                crossorigin="anonymous"></script>
                            <!-- Learning Center Ads -->
                            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3432965017603796"
                                data-ad-slot="3314571191" data-ad-format="auto" data-full-width-responsive="true"></ins>
                            <script>
                                (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>

                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

    {% endblock content %}

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}
</div>