{% extends "layouts/base-ielts.html" %} {% block title %} IELTS Listening Test {%
endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
    /* Disable text selection */
    body {
        -webkit-user-select: none;
        /* Chrome/Safari */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* IE/Edge */
        user-select: none;
        /* Standard */
    }


    .timer-container {
        position: fixed;
        /* Fix position relative to viewport */
        top: 40px;
        /* Distance from the top */
        right: 20px;
        /* Distance from the right */
        font-size: 14px;
        font-weight: bold;
        color: #ffffff;
        background: linear-gradient(135deg, #3f4d67, #8f94fb);
        padding: 10px 20px;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
        width: fit-content;
        margin: 20px;
        margin-left: auto;
        /* Added */
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        z-index: 9999;
        /* Ensure it’s above other content */
    }

    @keyframes pulse {
        0% {
            transform: scale(1);
            opacity: 1;
        }

        50% {
            transform: scale(1.05);
            opacity: 0.8;
        }

        100% {
            transform: scale(1);
            opacity: 1;
        }
    }
</style>

{% endblock stylesheets %} {% block content %}

<!-- [ Main Content ] start -->
<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="page-header-title">
                                    <h5 class="m-b-10">IELTS Listening Test</h5>
                                </div>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="/learning/ielts"><i class="feather icon-home"></i></a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a href="javascript:">IELTS Learning Center</a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a href="javascript:">Listening Test</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ breadcrumb ] end -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    {% for message in get_flashed_messages() %}
                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    {% endfor %}

                                    <script async
                                        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3432965017603796"
                                        crossorigin="anonymous"></script>
                                    <!-- Learning Center Ads -->
                                    <ins class="adsbygoogle" style="display:block"
                                        data-ad-client="ca-pub-3432965017603796" data-ad-slot="3314571191"
                                        data-ad-format="auto" data-full-width-responsive="true"></ins>
                                    <script>
                                        (adsbygoogle = window.adsbygoogle || []).push({});
                                    </script>


                                    <div class="card-header">
                                        <h5>Listening Test. PART {{ section_id }}</h5>
                                    </div>
                                    <div id="timer" class="timer-container">00:00</div>
                                    <div class="card-body">
                                        <audio controls autoplay>
                                            <source src="{{ config.ASSETS_ROOT }}/audio/{{ section.audio }}.ogg"
                                                type="audio/ogg" />
                                            <source src="{{ config.ASSETS_ROOT }}/audio/{{ section.audio }}.mp3"
                                                type="audio/mpeg" />
                                            Your browser does not support the audio element.
                                        </audio>
                                        <hr />




                                        <form id="examForm" role="form" method="POST">
                                            {% for q in section.questions %}{% set q_index =
                                            loop.index0 %}

                                            {% if q.id == 1 %}
                                            <h5>Questions 1-10</h5> <br>
                                            Complete the notes below. <br>
                                            Write <b>ONE WORD AND/OR A NUMBER</b> for each answer. <br>
                                            <hr>
                                            <h5>
                                                <center>Buckworth Conservation Group </center>
                                                <br>
                                                <b> Regular activities</b>
                                            </h5><br>
                                            Beach <br> <br>
                                            {% elif q.id == 3 %}
                                            Nature reserve <br>
                                            <ul>
                                                <li>maintaining paths</li>
                                                <li>nesting boxes for birds installed </li>
                                            </ul>

                                            {% elif q.id == 6 %}
                                            <br>
                                            <h5> Forthcoming events </h5><br>
                                            Saturday <br>
                                            <ul>
                                                <li>meet at the Dunsmore Beach car park</li>
                                            </ul>

                                            {% elif q.id == 7 %}
                                            <ul>
                                                <li>take a picnic</li>
                                            </ul>
                                            {% elif q.id == 8 %}
                                            Woodwork session <br>
                                            {% elif q.id == 10 %}
                                            <ul>
                                                <li>17th, from 20 a.m. to 3 p.m.</li>
                                            </ul>
                                            {% elif q.id == 11 %}
                                            <h5>Questions 11-14</h5> <br>
                                            Choose the correct letter, <b>A, B, or C.</b><br>
                                            <hr>
                                            {% elif q.id == 15 %}
                                            <hr>
                                            <h5>Questions 15-20</h5> <br>
                                            Choose TWO letters <b>A-E</b><br>
                                            <hr>
                                            {% elif q.id == 21 %}
                                            <hr>
                                            <h5>Questions 21-26</h5> <br>
                                            Choose the correct letter <b>A, B, or C</b><br>
                                            <hr>
                                            <b>
                                                <center>Work experience for veterinary science students</center>
                                            </b>
                                            <br>
                                            {% elif q.id == 27 %}
                                            <hr>
                                            <h5>Questions 27-30</h5> <br>
                                            What opinion do the students give about each of the following modules on
                                            their
                                            veterinary science course?<br> <br>
                                            Choose <b>FOUR </b>answers from the box and write the correct letter, A-F,
                                            next to
                                            questions 27-30. <br>
                                            <hr>
                                            <fieldset>
                                                <legend> <b>
                                                        Opinions
                                                    </b></legend>
                                                <ol type="A">
                                                    <li>Tim found this easier than expected </li>
                                                    <li>Tim thought this was not very clearly organized </li>
                                                    <li> Diana may do some further study on this</li>
                                                    <li>They both found the reading required for this was difficult</li>
                                                    <li>Tim was shocked at something he learned on this module</li>
                                                    <li>
                                                        They were both surprised how little is known about some aspects
                                                        of this </li>
                                                </ol>
                                            </fieldset>
                                            <b>Modules on Veterinary Science course</b>
                                            {% elif q.id == 31 %}
                                            <hr>
                                            <h5>Questions 31-40</h5> <br>
                                            Write <b>ONE WORD ONLY</b> for each answer.<br>
                                            <hr>
                                            <b>
                                                <center>Labyrinths</center>
                                            </b>
                                            <br>
                                            <b>Definition</b>
                                            <ul>
                                                <li>a winding spiral path leading to a central area </li>
                                            </ul>
                                            <b>Labyrinth compared with mazes </b>
                                            <br><br>
                                            {% elif q.id == 32 or q.id == 33 %}
                                            <ul>
                                                <ul>
                                                    <li>{{ q.question | replace(
                                                        '____',
                                                        q.id ~ ". <input type='text' name='q" ~ q_index ~ "'
                                                            value='" ~ (saved_answers[q_index] if saved_answers[q_index] else '') ~ "' />"
                                                        ) | safe }}</li>
                                                </ul>
                                            </ul>
                                            {% elif q.id == 34 %}
                                            <ul>
                                                <li>Labyrinths represent a journey through life </li>
                                                <ul>
                                                    <li>{{ q.question | replace(
                                                        '____',
                                                        q.id ~ ". <input type='text' name='q" ~ q_index ~ "'
                                                            value='" ~ (saved_answers[q_index] if saved_answers[q_index] else '') ~ "' />"
                                                        ) | safe }}</li>
                                                </ul>
                                            </ul>
                                            {% elif q.id == 35 %}
                                            <b>Early examples of the labyrinth spiral</b><br> <br>
                                            {% elif q.id == 36 %}
                                            <ul>
                                                <li>The Pima, a Native American tribe, wove the symbol on baskets</li>
                                            </ul>
                                            {% elif q.id == 37 %}
                                            <b>Walking labyrinths</b> <br><br>
                                            {% elif q.id == 38 %}
                                            <b>Labyrinths nowadays</b> <br><br>
                                            {% elif q.id == 39 %}
                                            <ul>
                                                <li>Used in medical and health and fitness settings and also prisons
                                                </li>
                                                <li>Popular with patients, visitors and staff hospitals </li>
                                                <ul>
                                                    <li>{{ q.question | replace(
                                                        '____',
                                                        q.id ~ ". <input type='text' name='q" ~ q_index ~ "'
                                                            value='" ~ (saved_answers[q_index] if saved_answers[q_index] else '') ~ "' />"
                                                        ) | safe }}</li>
                                                </ul>
                                            </ul>
                                            {% elif q.id == 40 %}
                                            <ul>

                                                <ul>
                                                    <li>{{ q.question | replace(
                                                        '____',
                                                        q.id ~ ". <input type='text' name='q" ~ q_index ~ "'
                                                            value='" ~ (saved_answers[q_index] if saved_answers[q_index] else '') ~ "' />"
                                                        ) | safe }}</li>
                                                </ul>
                                            </ul>

                                            {% endif %}
                                            {% if q.type == 'fill_blank' and q.id != 32 and q.id != 33 and q.id != 34
                                            and q.id != 39 and q.id != 40 %}
                                            <ul>
                                                <li>
                                                    {{ q.question | replace(
                                                    '____',
                                                    q.id ~ ". <input type='text' name='q" ~ q_index ~ "'
                                                        value='" ~ (saved_answers[q_index] if saved_answers[q_index] else '') ~ "' />"
                                                    ) | safe }}
                                                </li>
                                            </ul>

                                            {% elif q.type == 'multiple_choice' %}
                                            <label>{{ q.id }}. {{ q.question }}</label>
                                            {% for opt in q.options %}
                                            <div class="custom-control custom-radio">

                                                <input type="radio" name="q{{ q_index }}" value="{{
                            opt }}" id="{{ loop.index0 }}{{ q_index }}" class="custom-control-input" {% if
                                                    saved_answers[q_index]==opt %}checked{% endif %} />
                                                <label class="custom-control-label"
                                                    for="{{ loop.index0 }}{{ q_index }}">{{ opt }}</label>
                                            </div>
                                            {% endfor %}


                                            <br>
                                            {% endif %}



                                            {% endfor %}
                                            <br><br>
                                            {% if section_id > 1 %}
                                            <button name="prev" type="submit" class="btn btn-primary">
                                                &larr; Previous
                                            </button>
                                            {% endif %} {% if section_id < 4 %} <button name="next" type="submit"
                                                class="btn btn-primary">Next &rarr;</button>
                                                {% else %}
                                                <button name="submit_all" type="submit" class="btn btn-primary">
                                                    Submit All
                                                </button>
                                                {% endif %}
                                        </form>
                                    </div>
                                    <!-- Input group -->
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

    {% endblock content %}

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}

    <script>
        let remaining = {{ remaining_seconds }};
        const timerDisplay = document.getElementById('timer');
        const form = document.getElementById('examForm');

        function formatTime(seconds) {
            const mins = Math.floor(seconds / 60);
            const secs = seconds % 60;
            return `${mins}:${secs < 10 ? '0' : ''}${secs}`;
        }

        function updateTimer() {
            if (remaining <= 0) {
                form.submit();  // auto-submit or redirect
            } else {
                timerDisplay.textContent = "⌛" + formatTime(remaining);
                remaining--;
                setTimeout(updateTimer, 1000);
            }
        }

        updateTimer();
    </script>

    {% endblock javascripts %}
</div>
</div>
</div>