<!DOCTYPE html>
<html class="no-js" lang="zxx">
  {% include 'layouts/head.html'%}

  <body>
    {% include 'layouts/topnav.html'%}
    <main>
      <!--? slider Area Start-->
      <section class="slider-area slider-area2">
        <div class="slider-active">
          <!-- Single Slider -->
          <div class="single-slider slider-height2">
            <div class="container">
              <div class="row">
                <div class="col-xl-8 col-lg-11 col-md-12">
                  <div class="hero__caption hero__caption2">
                    <h1 data-animation="bounceIn" data-delay="0.2s">
                      Affiliate Marketing Team
                    </h1>
                    <!-- breadcrumb Start-->
                    <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                          <a href="/">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                          <a href="#">Affiliate</a>
                        </li>
                      </ol>
                    </nav>
                    <!-- breadcrumb End -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--? Blog Area Start -->
      <section class="blog_area single-post-area section-padding">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 posts-list">
              <div class="single-post">
                <div class="feature-img">
                  <img
                    class="img-fluid"
                    src="{{ config.ASSETS_ROOT }}/home/img/blog/affiliate.png"
                    alt=""
                  />
                </div>
                <div class="blog_details">
                  <h2 style="color: #2d2d2d">Daftar Affiliate Marketing Team</h2>
                  <ul class="blog-info-link mt-3 mb-4">
                    <li>
                      <a href="#"><i class="fa fa-check"></i> Affiliate</a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-bookmark "></i>Komisi 10%</a>
                    </li>
                  </ul>
                  <p class="excert">
                    <h3><strong>Ajak Orang Belajar Dapet Uang</strong> <br><br>
                    
                    Komisi 10% Setiap Orang yang Ikut Program</h3> <br>

Ingin mendapatkan penghasilan tambahan? <br>
                    Bergabunglah dengan Affiliate Marketing Team Raih Cita! <br>
                    <br>
                    Dengan menjadi affiliate, Anda bisa mendapatkan komisi 10% dari setiap orang yang mendaftar melalui link referral Anda. <br>
                    <br>
                    Kami menyediakan berbagai program pembelajaran yang menarik dan bermanfaat, seperti TOEFL, IELTS, dan banyak lagi. <br>
                    <br>
                    Bergabunglah sekarang dan mulailah mendapatkan penghasilan tambahan sambil membantu orang lain belajar!
<br>
                  </p>

                  <div class="quote-wrapper">
                    <div class="quotes">
            
                    <ul>
                      <li>💰 Komisi : 10%</li></ul>
                       <li>📍 Lokasi : Online</li>
                    </div>
                  </div>
                  <p>
                   <ul>
                      <li>• Komisi 10% setiap transaksi</li>
                      <li>• Tidak perlu memasukkan kode tertenu, cukup menyebarkan link pendaftaran</li>
                       <li>• Tergabung pada grup WhatsApp</li>
                       <li>• Tidak ada biaya pendafraran sebagai Affiliate Marketing Team</li>
                    </ul>
                    <br />
          
                   </ul>
                  </p>
                 
                </div>
              </div>
              <div class="navigation-top">
                <div class="d-sm-flex justify-content-between text-center">
                  <p class="like-info">
                    <span class="align-middle"
                      ><i class="fa fa-heart"></i
                    ></span>
                  10++ Sudah bergabung Raih Cita
                  </p>
                  
       
                </div>
                
              </div>
              
              <br>
                <br>
            </div>
            <div class="col-lg-4">
              <div class="blog_right_sidebar">
                                <aside class="single_sidebar_widget newsletter_widget">
                  <h4 class="widget_title" style="color: #2d2d2d" >
                    <strong> Komisi 10%</strong>
                  </h4>
           
           <a href="/affiliate-form">
                     
                    <button
                      class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                      type="submit"
                    >
                      Daftar Sekarang
                    </button></a></a>
                </a>
                </aside>
                <aside class="single_sidebar_widget post_category_widget">
                  <h4 class="widget_title" style="color: #2d2d2d">Affiliate Marketing</h4>
                  <ul class="list cat-list">
                    <li>
                      
                         <p>💰 Komisi : 10%</p>
                         <p>📍 Lokasi : Online</p>

      
                      </a>
                    </li>
                    
                  </ul>
                </aside>
                
           
                
             
                  
                <aside class="single_sidebar_widget newsletter_widget">
                  <h4 class="widget_title" style="color: #2d2d2d">
                    Tunggu apalagi...
                  </h4>
        
                
               <strong>Komisi 10%</strong> </p>
                <a href="/affiliate-form">
                    <button
                      class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                      type="submit"
                    >
                      Daftar Sekarang
                    </button>
                  </a>
                </aside>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Blog Area End -->
    </main>
    {% include 'layouts/footer.html'%}
  </body>
</html>
