<!DOCTYPE html>
<html class="no-js" lang="zxx">
{% include 'layouts/head.html'%}

<body>
  {% include 'layouts/topnav.html'%}
  <main>
    <!--? slider Area Start-->
    <section class="slider-area slider-area2">
      <div class="slider-active">
        <!-- Single Slider -->
        <div class="single-slider slider-height2">
          <div class="container">
            <div class="row">
              <div class="col-xl-8 col-lg-11 col-md-12">
                <div class="hero__caption hero__caption2">
                  <h1 data-animation="bounceIn" data-delay="0.2s">
                    Affiliate Marketing Team
                  </h1>
                  <!-- breadcrumb Start-->
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a href="/">Home</a>
                      </li>
                      <li class="breadcrumb-item">
                        <a href="#">Affiliate</a>
                      </li>
                    </ol>
                  </nav>
                  <!-- breadcrumb End -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--? Blog Area Start -->
    <section class="blog_area single-post-area section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 posts-list">
            <div class="single-post">
              <div class="feature-img">
                <img class="img-fluid" src="{{ config.ASSETS_ROOT }}/home/img/blog/affiliate.png" alt="" />
              </div>
              <div class="blog_details">
                <h2 style="color: #2d2d2d">Daftar Affiliate Marketing Team</h2>
                <ul class="blog-info-link mt-3 mb-4">
                  <li>
                    <a href="#"><i class="fa fa-check"></i> Affiliate</a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-bookmark "></i>Komisi 10%</a>
                  </li>
                </ul>
                <p class="excert">
                <h3><strong>Ajak Orang Belajar Dapet Uang</strong> <br><br>

                  Komisi 10% Setiap Orang yang Ikut Program</h3> <br>

                Ingin mendapatkan penghasilan tambahan? <br>
                Bergabunglah dengan Affiliate Marketing Team Raih Cita! <br>
                <br>
                Dengan menjadi affiliate, Anda bisa mendapatkan komisi 10% dari setiap orang yang mendaftar melalui link
                referral Anda. <br>
                <br>
                Kami menyediakan berbagai program pembelajaran yang menarik dan bermanfaat, seperti TOEFL, IELTS, dan
                banyak lagi. <br>
                <br>
                Bergabunglah sekarang dan mulailah mendapatkan penghasilan tambahan sambil membantu orang lain belajar!
                <br>
                </p>

                <div class="quote-wrapper">
                  <div class="quotes">

                    <ul>
                      <li>💰 Komisi : 10%</li>
                    </ul>
                    <li>📍 Lokasi : Online</li>
                  </div>
                </div>
                <div class="section-top-border">
                  <h3 class="mb-30">Contoh Perhitungan</h3>
                  <div class="progress-table-wrap">
                    <div class="progress-table">
                      <div class="table-head">
                        <div class="serial">No.</div>
                        <div class="country">Program</div>
                        <div class="visit">Biaya</div>
                        <div class="percentage">Komisi (10%)</div>
                      </div>
                      <div class="table-row">
                        <div class="serial">1</div>
                        <div class="country">TOEFL Prep Class</div>
                        <div class="visit">Rp99.000</div>
                        <div class="percentage">
                          Rp9.900
                        </div>
                      </div>
                      <div class="table-row">
                        <div class="serial">2</div>
                        <div class="country">TOEFL Private Class</div>
                        <div class="visit">Rp799.000</div>
                        <div class="percentage">
                          Rp79.900
                        </div>
                      </div>
                      <div class="table-row">
                        <div class="serial">3</div>
                        <div class="country">IELTS Private Class</div>
                        <div class="visit">Rp1.499.000</div>
                        <div class="percentage">
                          Rp149.900
                        </div>
                      </div>
                      <div class="table-row">
                        <div class="serial">4</div>
                        <div class="country">Grammar / Speaking Private Class</div>
                        <div class="visit">Rp799.000</div>
                        <div class="percentage">
                          Rp79.900
                        </div>
                      </div>
                      <div class="table-row">
                        <div class="serial">5</div>
                        <div class="country">Mentoring Private Class</div>
                        <div class="visit">Rp490.000</div>
                        <div class="percentage">
                          Rp49.000
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="navigation-top">
              <div class="d-sm-flex justify-content-between text-center">
                <p class="like-info">
                  <span class="align-middle"><i class="fa fa-heart"></i></span>
                  10++ Sudah bergabung Raih Cita
                </p>


              </div>

            </div>

            <br>
            <br>
          </div>
          <div class="col-lg-4">
            <div class="blog_right_sidebar">
              <aside class="single_sidebar_widget newsletter_widget">
                <h4 class="widget_title" style="color: #2d2d2d">
                  <strong>Dapatkan Komisi 10% Sekarang</strong>
                </h4>

                <a href="/affiliate-form">

                  <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn" type="submit">
                    Daftar Sekarang
                  </button></a></a>
                </a>
              </aside>
              <aside class="single_sidebar_widget post_category_widget">
                <h4 class="widget_title" style="color: #2d2d2d">Affiliate Marketing</h4>
                <ul class="list cat-list">
                  <li>

                    <p>💰 Komisi : 10%</p>
                    <p>📍 Lokasi : Online</p>


                    </a>
                  </li>

                </ul>
              </aside>
              <aside class="single_sidebar_widget tag_cloud_widget">
                <h4 class="widget_title" style="color: #2d2d2d">
                  Program Lainnya
                </h4>
                <ul class="list">
                  <li>
                    <a href="/join">Join Raih Cita Team</a>
                  </li>
                  <li>
                    <a href="/tutor">Daftar Tutor</a>
                  </li>

                </ul>
              </aside>
              <aside class="single_sidebar_widget post_category_widget">
                <h4 class="widget_title" style="color: #2d2d2d;">Keunggulan Affiliate Marketing Program</h4>
                <ul class="list cat-list">
                  <li>
                    <p>• Komisi 10% setiap transaksi</p>

                    <p> • Tidak perlu memasukkan kode tertentu, cukup menyebarkan link affiliate unik yang telah
                      diajukan</p>
                    <p>• Tergabung pada grup WhatsApp</p>
                    <p>• Tidak ada biaya pendaftaran sebagai Affiliate Marketing Team</p>
                  </li>
                </ul>
              </aside>

              <aside class="single_sidebar_widget post_category_widget">
                <h4 class="widget_title" style="color: #2d2d2d;">Tahapan</h4>
                <ul class="list cat-list">
                  <li>
                    <p>1. Daftar Affiliate Marketing Team untuk dimasukan ke WhatsApp
                      Group</p>
                    <p>2. Ajukan Link Affiliate di raihcita.com/link</p>

                    <p>3. Hubungi Admin Raih Cita untuk aktivasi Link Affiliate yang diajukan</p>
                    </p>
                    <p>4. Sebarkan Link Affiliate seluas-luasnya melalui sosial media, poster, dsb.</p>
                    <p>5. Dapatkan komisi 10% untuk setiap orang yang daftar</p>
                  </li>
                </ul>
              </aside>




            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Blog Area End -->
  </main>
  {% include 'layouts/footer.html'%}
</body>

</html>