{% extends "layouts/base-fullscreen.html" %} {% block title %} Program Raih
TOEFL {% endblock %} {% block meta %}
<meta
  http-equiv="refresh"
  content="2; URL=https://docs.google.com/forms/d/e/1FAIpQLSf_2aT9Cf-9eqxyO2Gk9GH4ddDtMZkBxm43_BsenWtOsMbS-g/viewform?usp=dialog"
/>

{% endblock %} {% block content %}

<div class="auth-wrapper">
  <div class="auth-content">
    <div class="auth-bg">
      <span class="r"></span>
      <span class="r s"></span>
      <span class="r s"></span>
      <span class="r"></span>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <div class="mb-4">
          <i class="feather x-circle"></i>
        </div>
        <h3 class="mb-4">Wait a moment...</h3>

        <br />

        <span class="mb-0 text-muted">
          We're redirecting you to Google Form - Feedback on Raih Cita Class.
          Not Working?
          <a
            href="https://docs.google.com/forms/d/e/1FAIpQLSf_2aT9Cf-9eqxyO2Gk9GH4ddDtMZkBxm43_BsenWtOsMbS-g/viewform?usp=dialog"
            >Click Here</a
          >
        </span>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
