{% extends "layouts/base.html" %}

{% block title %} GOTRAK {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">GOTRAK</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">GOTRAK</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Survei keluhan gangguan otot rangka</h5>
                                        </div>
                                        <div class="card-body">
                                            <h5>Informasi Pekerjaan</h5>
                                            <hr>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <form>
                                                        <div class="form-group">
                                                            <label>Perusahaan</label>
                                                            <input type="text" class="form-control" placeholder="Perusahaan">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Nama</label>
                                                            <input type="text" class="form-control" placeholder="Nama (opsional)">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Posisi/jabatan</label>
                                                            <input type="text" class="form-control" placeholder="Posisi/jabatan">
                                                        </div>


                                                        <button type="submit" class="btn btn-primary">Submit</button>

                                            
       

                                                    </form>
                                                </div>
                                            </div>
                                            <h5 class="mt-5">Tugas dan Waktu</h5>
                                            <hr>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Tugas</label>
                                                    <input class="mb-3 form-control" type="text" placeholder="Tugas 1">
                                                    <input class="mb-3 form-control" type="text" placeholder="Tugas 2">
                                                    <input class="mb-3 form-control" type="text" placeholder="Tugas 3">
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Waktu</label>
                                                    <input class="mb-3 form-control" type="number" placeholder="Waktu 1">
                                                    <input class="mb-3 form-control" type="number" placeholder="Waktu 2">
                                                    <input class="mb-3 form-control" type="number" placeholder="Waktu 3">
                                                </div>
                                            </div>
                                            <h5 class="mt-5">6. Manakah yang merupakan tangan dominan Anda?</h5>
                                            <hr>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="kanan">
                                                <label class="custom-control-label" for="kanan">Kanan</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="kiri">
                                                <label class="custom-control-label" for="kiri">Kiri</label>
                                            </div>
                                            <h5 class="mt-5">7. Sudah berapa lama Anda bekerja pada posisi/jabatan saat ini?</h5>
                                            <hr>
                                            <div class="form-group">
                                                <select class="form-control" id="exampleFormControlSelect1">
                                                    <option value="" selected disabled>Pilih berikut</option>
                                                    <option value="3bulan">Kurang dari 3 bulan</option>
                                                    <option value="1tahun">3 bulan - 1 tahun</option>
                                                    <option value="5tahun">1-5 tahun</option>
                                                    <option value="10tahun">5-10 tahun</option>
                                                    <option value="10tahun">Lebih dari 10 tahun</option>
                                                </select>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                            
                                                    <h5 class="mt-5">8. Seberapa sering Anda merasakan kelelahan mental setelah bekerja?</h5>
                                                    <hr>
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" id="tidak" name="mental" class="custom-control-input">
                                                        <label class="custom-control-label" for="tidak">Tidak pernah</label>
                                                    </div>
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" id="kadang" name="mental" class="custom-control-input">
                                                        <label class="custom-control-label" for="kadang">Kadang-kadang</label>
                                                    </div>
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" id="sering" name="mental" class="custom-control-input">
                                                        <label class="custom-control-label" for="sering">Sering</label>
                                                    </div>
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" id="selalu" name="mental" class="custom-control-input">
                                                        <label class="custom-control-label" for="selalu">Selalu</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <h5 class="mt-5">9. Seberapa sering Anda merasakan kelelahan fisik setelah bekerja?</h5>
                                                    <hr>
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" id="tidak" name="fisik" class="custom-control-input">
                                                        <label class="custom-control-label" for="tidak">Tidak pernah</label>
                                                    </div>
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" id="kadang" name="fisik" class="custom-control-input">
                                                        <label class="custom-control-label" for="kadang">Kadang-kadang</label>
                                                    </div>
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" id="sering" name="fisik" class="custom-control-input">
                                                        <label class="custom-control-label" for="sering">Sering</label>
                                                    </div>
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" id="selalu" name="fisik" class="custom-control-input">
                                                        <label class="custom-control-label" for="selalu">Selalu</label>
                                                    </div>
                                                </div>
                                            </div>
                                       
                                            
                                                    <h5 class="mt-5">10. Pernahkan Anda mengalami rasa sakit/nyeri atau ketidaknyaman yang Anda anggap berhubungan dengan pekerjaan dalam satu tahun terakhir?</h5>
                                                    <hr>
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" id="ya" name="sakit" class="custom-control-input">
                                                        <label class="custom-control-label" for="ya">Ya</label>
                                                    </div>
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" id="tidakpernah" name="sakit" class="custom-control-input">
                                                        <label class="custom-control-label" for="tidakpernah">Tidak</label>
                                                    </div>

                
                                
                                        </div>
                                    </div>
                                    <!-- Input group -->
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Jika jawaban No. 10 adalah Ya, silahkan isi survei berikut</h5>
                                        </div>
                                        <label>
                                            <ul>Untuk setiap bagian tubuh mohon jelaskan
                                                <li> Pertanyaan "seberapa sering" yang dimaksud adalah seberapa sering Anda merasakan ketidaknyaman pada bagian tubuh tersebut.
                                                </li>
                                                <li> Pertanyaan "seberapa parah" yang dimaksud adalah tingkat ketidaknyaman dan apakah rasa sakit itu menganggu kemampuan Anda untuk melakukan pekerjaan Anda.
                                                </li>
                                                <hr>
                                                <li> Catatan: "sakit" dapat berupa nyeri, kaku, mati rasa, kesemutan, atau rasa terbakar.
                                                </li>
                                            </ul>

                                        </label>

                                        <div class="card-body">
                                            <h5 class="mt-5">Klik pada bagian tubuh yang sakit</h5>

                                            <hr>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
