{% extends "layouts/base.html" %}

{% block title %} GOTRAK {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>

    .bodyParts{
    border-color: black;
    fill: #72B8FC;cursor: pointer;
}
area.bodyParts
{
    fill: black;
    stroke:gray; /* Replace with none if you like*/
    stroke-width: 4;
    cursor: pointer;
}

area.bodyParts:hover
{
 stroke:black;
}
</style>

{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">GOTRAK</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">GOTRAK</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Survei keluhan gangguan otot rangka</h5>
                                        </div>
                                        <div class="card-body">
                                            <h5>Informasi Pekerjaan</h5>
                                            <hr>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <form>
                                                        <div class="form-group">
                                                            <label>Perusahaan</label>
                                                            <input type="text" class="form-control" placeholder="Perusahaan">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Nama</label>
                                                            <input type="text" class="form-control" placeholder="Nama (opsional)">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Posisi/jabatan</label>
                                                            <input type="text" class="form-control" placeholder="Posisi/jabatan">
                                                        </div>


                                                        

                                            
       

                                                  
                                                </div>
                                            </div>
                                            <h5 class="mt-5">Tugas dan Waktu</h5>
                                            <hr>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Tugas</label>
                                                    <input class="mb-3 form-control" type="text" placeholder="Tugas 1">
                                                    <input class="mb-3 form-control" type="text" placeholder="Tugas 2">
                                                    <input class="mb-3 form-control" type="text" placeholder="Tugas 3">
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Waktu</label>
                                                    <input class="mb-3 form-control" type="number" placeholder="Waktu 1">
                                                    <input class="mb-3 form-control" type="number" placeholder="Waktu 2">
                                                    <input class="mb-3 form-control" type="number" placeholder="Waktu 3">
                                                </div>
                                            </div>
                                            <h5 class="mt-5">6. Manakah yang merupakan tangan dominan Anda?</h5>
                                            <hr>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="kanan">
                                                <label class="custom-control-label" for="kanan">Kanan</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="kiri">
                                                <label class="custom-control-label" for="kiri">Kiri</label>
                                            </div>
                                            <h5 class="mt-5">7. Sudah berapa lama Anda bekerja pada posisi/jabatan saat ini?</h5>
                                            <hr>
                                            <div class="form-group">
                                                <select class="form-control" id="exampleFormControlSelect1">
                                                    <option value="" selected disabled>Pilih berikut</option>
                                                    <option value="3bulan">Kurang dari 3 bulan</option>
                                                    <option value="1tahun">3 bulan - 1 tahun</option>
                                                    <option value="5tahun">1-5 tahun</option>
                                                    <option value="10tahun">5-10 tahun</option>
                                                    <option value="10tahun">Lebih dari 10 tahun</option>
                                                </select>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                            
                                                    <h5 class="mt-5">8. Seberapa sering Anda merasakan kelelahan mental setelah bekerja?</h5>
                                                    <hr>
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" id="tidak" name="mental" class="custom-control-input">
                                                        <label class="custom-control-label" for="tidak">Tidak pernah</label>
                                                    </div>
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" id="kadang" name="mental" class="custom-control-input">
                                                        <label class="custom-control-label" for="kadang">Kadang-kadang</label>
                                                    </div>
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" id="sering" name="mental" class="custom-control-input">
                                                        <label class="custom-control-label" for="sering">Sering</label>
                                                    </div>
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" id="selalu" name="mental" class="custom-control-input">
                                                        <label class="custom-control-label" for="selalu">Selalu</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <h5 class="mt-5">9. Seberapa sering Anda merasakan kelelahan fisik setelah bekerja?</h5>
                                                    <hr>
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" id="tidak" name="fisik" class="custom-control-input">
                                                        <label class="custom-control-label" for="tidak">Tidak pernah</label>
                                                    </div>
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" id="kadang" name="fisik" class="custom-control-input">
                                                        <label class="custom-control-label" for="kadang">Kadang-kadang</label>
                                                    </div>
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" id="sering" name="fisik" class="custom-control-input">
                                                        <label class="custom-control-label" for="sering">Sering</label>
                                                    </div>
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" id="selalu" name="fisik" class="custom-control-input">
                                                        <label class="custom-control-label" for="selalu">Selalu</label>
                                                    </div>
                                                </div>
                                            </div>
                                       
                                            
                                                    <h5 class="mt-5">10. Pernahkan Anda mengalami rasa sakit/nyeri atau ketidaknyaman yang Anda anggap berhubungan dengan pekerjaan dalam satu tahun terakhir?</h5>
                                                    <hr>
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" id="ya" name="sakit" class="custom-control-input">
                                                        <label class="custom-control-label" for="ya">Ya</label>
                                                    </div>
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" id="tidakpernah" name="sakit" class="custom-control-input">
                                                        <label class="custom-control-label" for="tidakpernah">Tidak</label>
                                                    </div>

                
                                
                                        </div>
                                    </div>
                                    <!-- Input group -->
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Jika jawaban No. 10 adalah Ya, silahkan isi survei berikut</h5>
                                        </div>
                                        <label>
                                            <ul>Untuk setiap bagian tubuh mohon jelaskan
                                                <li> Pertanyaan "seberapa sering" yang dimaksud adalah seberapa sering Anda merasakan ketidaknyaman pada bagian tubuh tersebut.
                                                </li>
                                                <li> Pertanyaan "seberapa parah" yang dimaksud adalah tingkat ketidaknyaman dan apakah rasa sakit itu menganggu kemampuan Anda untuk melakukan pekerjaan Anda.
                                                </li>
                                                <hr>
                                                <li> Catatan: "sakit" dapat berupa nyeri, kaku, mati rasa, kesemutan, atau rasa terbakar.
                                                </li>
                                            </ul>

                                        </label>

                                        <div class="card-body">
                                            <h5 class="mt-5">Klik pada bagian tubuh yang sakit</h5>

                                            <hr>

                                            

<!-- Image Map Generated by http://www.image-map.net/ -->
<img src="{{ config.ASSETS_ROOT }}/images/fix.jpg" usemap="#image-map">

<map name="image-map">
    <area onclick="leher()" id="id_neck" class="bodyParts" name="Leher" title="neck" target="" alt="Leher" title="Leher" href="" coords="185,128,125,90" shape="rect">
    <area onclick="bahuKiri()" id="id_left_shoulder" class="bodyParts" name="Bahu Kiri" title="left shoulder" target="" alt="Bahu Kiri" title="Bahu Kiri" href="" coords="109,165,53,206,65,149,131,112" shape="poly">
    <area id="id_right_shoulder" class="bodyParts" name="Bahu Kanan" title="right shoulder" target="" alt="Bahu Kanan" title="Bahu Kanan" href="" coords="183,117,215,165,256,202,249,146" shape="poly">
    <area target="" alt="Siku Kiri" title="Siku Kiri" href="" coords="83,283,46,238" shape="rect">
    <area target="" alt="Siku Kanan" title="Siku Kanan" href="" coords="230,241,270,283" shape="rect">
    <area target="" alt="Punggung Atas" title="Punggung Atas" href="" coords="94,249,218,245,226,177,187,123,129,128,106,167,86,183" shape="poly">
    <area target="" alt="Lengan Kiri" title="Lengan Kiri" href="" coords="35,277,73,364" shape="rect">
    <area target="" alt="Lengan Kanan" title="Lengan Kanan" href="" coords="232,286,277,360" shape="rect">
    <area target="" alt="Punggung Bawah" title="Punggung Bawah" href="" coords="94,252,222,350" shape="rect">
    <area target="" alt="Tangan Kiri" title="Tangan Kiri" href="" coords="14,362,60,439" shape="rect">
    <area target="" alt="Tangan Kanan" title="Tangan Kanan" href="" coords="252,362,303,437" shape="rect">
    <area target="" alt="Pinggul" title="Pinggul" href="" coords="86,352,231,415" shape="rect">
    <area target="" alt="Paha Kiri" title="Paha Kiri" href="" coords="83,418,151,495" shape="rect">
    <area target="" alt="Paha Kanan" title="Paha Kanan" href="" coords="157,418,237,497" shape="rect">
    <area target="" alt="Lutut Kiri" title="Lutut Kiri" href="" coords="83,491,133,549" shape="rect">
    <area target="" alt="Lutut Kanan" title="Lutut Kanan" href="" coords="179,496,236,544" shape="rect">
    <area target="" alt="Betis Kiri" title="Betis Kiri" href="" coords="81,547,129,673" shape="rect">
    <area target="" alt="Betis Kanan" title="Betis Kanan" href="" coords="193,541,244,684" shape="rect">
    <area target="" alt="Kaki Kiri" title="Kaki Kiri" href="" coords="78,675,111,674,110,712,61,753,36,750,28,745" shape="poly">
    <area target="" alt="Kaki Kanan" title="Kaki Kanan" href="" coords="211,684,212,710,252,755,289,751,249,693,237,681" shape="poly">
</map>
    <!--preview-->
    <span id="organs-tip"></span>
  

        <div class="col-xs-12">
            <div style="clear:both; height:8px;"></div>
            <div id="selections" style="clear:both;"></div>
        </div>
        <br>
        
        <div id="leher">
      
              <h5 class="mt-5">Seberapa sering pada Leher?</h5>
              <hr>
              <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="tidakleher" name="seringleher" class="custom-control-input">
                  <label class="custom-control-label" for="tidakleher">Tidak pernah</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="kadangleher" name="seringleher" class="custom-control-input">
                  <label class="custom-control-label" for="kadangleher">Kadang-kadang</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="seringleher" name="seringleher" class="custom-control-input">
                  <label class="custom-control-label" for="seringleher">Sering</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="selaluleher" name="seringleher" class="custom-control-input">
                  <label class="custom-control-label" for="selaluleher">Selalu</label>
              </div>
 

              <h5 class="mt-5">Seberapa parah pada Leher?</h5>
              <hr>
              <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="tidakadaleher" name="leher" class="custom-control-input">
                  <label class="custom-control-label" for="tidakadaleher">Tidak ada masalah</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="tidaknyamanleher" name="leher" class="custom-control-input">
                  <label class="custom-control-label" for="tidaknyamanleher">Tidak nyaman</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="sakitleher" name="leher" class="custom-control-input">
                  <label class="custom-control-label" for="sakitleher">Sakit</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="sakitparahleher" name="leher" class="custom-control-input">
                  <label class="custom-control-label" for="sakitparahleher">Sakit parah</label>
              </div>
      </div>
      <div id="bahu">
     
            <h5 class="mt-5">Seberapa sering pada Bahu?</h5>
            <hr>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="tidakbahu" name="seringbahu" class="custom-control-input">
                <label class="custom-control-label" for="tidakbahu">Tidak pernah</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="kadangbahu" name="seringbahu" class="custom-control-input">
                <label class="custom-control-label" for="kadangbahu">Kadang-kadang</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="seringbahu" name="seringbahu" class="custom-control-input">
                <label class="custom-control-label" for="seringbahu">Sering</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="selalubahu" name="seringbahu" class="custom-control-input">
                <label class="custom-control-label" for="selalubahu">Selalu</label>
            </div>

            <h5 class="mt-5">Seberapa parah pada Bahu?</h5>
            <hr>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="tidakadabahu" name="bahu" class="custom-control-input">
                <label class="custom-control-label" for="tidakadabahu">Tidak ada masalah</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="tidaknyamanbahu" name="bahu" class="custom-control-input">
                <label class="custom-control-label" for="tidaknyamanbahu">Tidak nyaman</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="sakitbahu" name="bahu" class="custom-control-input">
                <label class="custom-control-label" for="sakitbahu">Sakit</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="sakitparahbahu" name="bahu" class="custom-control-input">
                <label class="custom-control-label" for="sakitparahbahu">Sakit parah</label>
            </div>
    
    </div>


  



    
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script> 
    document.getElementById("leher").style.display = "none";
  
    document.getElementById("bahu").style.display = "none";
    function leher() {
      var x = document.getElementById("leher");
      if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
    }
  function bahuKiri() {
    var x = document.getElementById("bahu");
    if (x.style.display === "block") {
      x.style.display = "none";
    } else {
      x.style.display = "block";
    }
  }
  </script>


<script src="{{ config.ASSETS_ROOT }}/js/pages/jquery.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/pages/jquery.imagemapster.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/pages/index.js"></script>
{% endblock javascripts %}
