<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Raih Cita</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="{{ config.ASSETS_ROOT }}/images/favicon.ico" rel="icon" />
    <link
      href="{{ config.ASSETS_ROOT }}/images/logo.jpeg"
      rel="apple-touch-icon"
    />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="{{ config.ASSETS_ROOT }}/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="{{ config.ASSETS_ROOT }}/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="{{ config.ASSETS_ROOT }}/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="{{ config.ASSETS_ROOT }}/vendor/boxicons/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="{{ config.ASSETS_ROOT }}/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link
      href="{{ config.ASSETS_ROOT }}/vendor/remixicon/remixicon.css"
      rel="stylesheet"
    />
    <link
      href="{{ config.ASSETS_ROOT }}/vendor/swiper/swiper-bundle.min.css"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link href="{{ config.ASSETS_ROOT }}/css/homepage.css" rel="stylesheet" />
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center justify-content-between">
        <div class="logo">
          <h1><a href="/">Raih Cita</a></h1>
        </div>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
            <li><a class="nav-link scrollto" href="#about">Tentang</a></li>
            <li><a class="nav-link scrollto" href="#services">Fitur</a></li>
            <li><a class="nav-link scrollto" href="#faq">FAQ</a></li>
            <li>
              <a class="getstarted scrollto" href="/masuk">Coba Sekarang</a>
            </li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div
            class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center"
          >
            <h1 data-aos="fade-up">Tingkatkan produktivitas dengan ErgoCust</h1>
            <h2 data-aos="fade-up" data-aos-delay="400">
              ErgoCust: Aplikasi Asesmen dan Konsultasi Ergonomi
            </h2>
            <div data-aos="fade-up" data-aos-delay="800">
              <a href="/login" class="btn-get-started scrollto"
                >Coba Sekarang</a
              >
            </div>
          </div>
          <div
            class="col-lg-6 order-1 order-lg-2 hero-img"
            data-aos="fade-left"
            data-aos-delay="200"
          >
            <img
              src="{{ config.ASSETS_ROOT }}/images/mobile.png"
              class="img-fluid animated"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= About Us Section ======= -->
      <section id="about" class="about">
        <div class="container">
          <div class="section-title" data-aos="fade-up">
            <h2>Tentang</h2>
          </div>

          <div class="row content">
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
              <p>
                Gangguan otot rangka menyumbang 42% - 58% kasus sakit pada
                pekerja di Indonesia (Aprianto, Amalia, Hidayatulloh, & Zuchri,
                2021). Gangguan otot rangka berpotensi menimbulkan beberapa
                kerugian bagi perusahaan seperti
              </p>
              <ul>
                <li>
                  <i class="ri-check-double-line"></i> Rendahnya produktivitas
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Peningkatan biaya
                  kesehatan
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Peningkatkan biaya akibat
                  hilangnya produksi
                </li>
              </ul>
            </div>
            <div
              class="col-lg-6 pt-4 pt-lg-0"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <p>
                Solusi yang ditawarkan oleh ErgoCust adalah berupa tindakan
                preventif. Aplikasi dapat melakukan asesmen ergonomi, konsultasi
                ergonomi, dan pembelian alat kerja ergonomi.
              </p>
              <a href="#" class="btn-learn-more">Coba Sekarang</a>
            </div>
          </div>
        </div>
      </section>
      <!-- End About Us Section -->

      <!-- ======= Counts Section ======= -->
      <section id="counts" class="counts">
        <div class="container">
          <div class="row">
            <div
              class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-xl-start"
              data-aos="fade-right"
              data-aos-delay="150"
            >
              <img
                src="{{ config.ASSETS_ROOT }}/images/sni.png"
                alt=""
                class="img-fluid"
              />
            </div>

            <div
              class="col-xl-7 d-flex align-items-stretch pt-4 pt-xl-0"
              data-aos="fade-left"
              data-aos-delay="300"
            >
              <div class="content d-flex flex-column justify-content-center">
                <div class="row">
                  <div class="col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                      <i class="bi bi-emoji-smile"></i>
                      <span
                        data-purecounter-start="0"
                        data-purecounter-end="744"
                        data-purecounter-duration="1"
                        class="purecounter"
                      ></span>
                      <p><strong>Pengunjung</strong> dalam 30 hari</p>
                    </div>
                  </div>

                  <div class="col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                      <i class="bi bi-journal-richtext"></i>
                      <span
                        data-purecounter-start="0"
                        data-purecounter-end="3"
                        data-purecounter-duration="1"
                        class="purecounter"
                      ></span>
                      <p><strong>Fitur utama</strong> yang disediakan</p>
                    </div>
                  </div>

                  <div class="col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                      <i class="bi bi-clock"></i>
                      <span
                        data-purecounter-start="0"
                        data-purecounter-end="32"
                        data-purecounter-duration="1"
                        class="purecounter"
                      ></span>
                      <p>
                        <strong>Pengguna</strong> yang mendaftar dan mencoba
                      </p>
                    </div>
                  </div>

                  <div class="col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                      <i class="bi bi-currency-exchange"></i>
                      <span
                        data-purecounter-start="0"
                        data-purecounter-end="0"
                        data-purecounter-duration="1"
                        class="purecounter"
                      ></span>
                      <p><strong>Gratis</strong> untuk dicoba</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End .content-->
            </div>
          </div>
        </div>
      </section>
      <!-- End Counts Section -->

      <!-- ======= Services Section ======= -->
      <section id="services" class="services">
        <div class="container">
          <div class="section-title" data-aos="fade-up">
            <h2>Fitur Utama</h2>
            <p>Raih Cita</p>
          </div>

          <div class="row">
            <div
              class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"
            >
              <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                <div class="icon"><i class="bx bx-file"></i></div>
                <h4 class="title"><a href="">Asesmen Ergonomi</a></h4>
                <p class="description">
                  Pelanggan dapat melakukan asesmen mandiri dimana dan kapan
                  saja melalui aplikasi
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"
            >
              <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                <div class="icon"><i class="bi bi-person-circle"></i></div>
                <h4 class="title">
                  <a href="">Konsultasi dengan Ahli Ergonomi</a>
                </h4>
                <p class="description">
                  Pelanggan dapat melakukan konsultasi dengan para ahli ergonomi
                  sesuai biaya yang telah disepakati
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"
            >
              <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                <div class="icon"><i class="bi bi-tools"></i></div>
                <h4 class="title"><a href="">Penjualan Alat Ergonomi</a></h4>
                <p class="description">
                  Penjualan alat ergonomi yang relevan dan bekerja sama dengan
                  Tokopedia dan Shopee
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"
            >
              <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                <div class="icon"><i class="bi bi-file-text"></i></div>
                <h4 class="title"><a href="">Alternatif pengendalian</a></h4>
                <p class="description">
                  Dapatkan alternatif bentuk pengendalian yang sesuai dengan
                  masalah ergonomi yang Anda alami
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Services Section -->

      <!-- ======= Testimonials Section ======= -->
      <section id="testimonials" class="testimonials section-bg">
        <div class="container">
          <div class="section-title" data-aos="fade-up">
            <h2>Testimonials</h2>
            <p>Apa kata mereka?</p>
          </div>

          <div
            class="testimonials-slider swiper"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial-item">
                    <h3>Redifa Erlangga</h3>
                    <h4>Alumni &amp; Teknik Industri ITB</h4>
                    <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      Fiturnya keren, user interfacenya simpel, minimalis, dan
                      mudah dipahami customer untuk menemukan fitur yang ingin
                      digunakan. app juga mengakomodasi dark mode sehingga cocok
                      bagi yang matanya sensitif
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                  </div>
                </div>
              </div>
              <!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial-item">
                    <h3>Made Ardhia Diva Vikanaswari</h3>
                    <h4>Mahasiswa Teknik Industri ITB</h4>
                    <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      Mempermudah pengisian dokumen asesmen ergonomi menjadi
                      lebih cepat. Ilustrasi dengan mudah menggambarkan hal yang
                      diases. Alternatif perbaikan juga mempermudah pengguna
                      yang ingin langsung menindaklanjuti hasil asesmen.
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                  </div>
                </div>
              </div>
              <!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial-item">
                    <h3>Salsabila Ramadhani</h3>
                    <h4>Business Analyst</h4>
                    <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      Aplikasinya bagus bangett, ketika kita telah selesai
                      melakukan asesmen akan direkomendasikan produk apa saja
                      yang dapat membantu kita dalam meningkatkan kenyamanan dan
                      produktivitas dalam bekerja
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                  </div>
                </div>
              </div>
              <!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial-item">
                    <h3>Kevin Prasetyo</h3>
                    <h4>Fresh Graduate ITB</h4>
                    <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      Aplikasinya sangat keren dan membantu dalam asesmen
                      ergonomi
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                  </div>
                </div>
              </div>
              <!-- End testimonial item -->
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </section>
      <!-- End Testimonials Section -->

      <!-- ======= F.A.Q Section ======= -->
      <section id="faq" class="faq">
        <div class="container">
          <div class="section-title" data-aos="fade-up">
            <h2>F.A.Q.</h2>
          </div>

          <div
            class="row faq-item d-flex align-items-stretch"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <div class="col-lg-5">
              <i class="ri-question-line"></i>
              <h4>Apakah aplikasinya gratis?</h4>
            </div>
            <div class="col-lg-7">
              <p>
                Iyaa, fitur asesmen mandiri dalam aplikasi ini gratis selamanya.
                Fitur berbayar hanya untuk konsultasi dan pembelian produk
                ergonomi.
              </p>
            </div>
          </div>
          <!-- End F.A.Q Item-->

          <div
            class="row faq-item d-flex align-items-stretch"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <div class="col-lg-5">
              <i class="ri-question-line"></i>
              <h4>
                Apa yang harus saya lakukan setelah membuat janji konsultasi?
              </h4>
            </div>
            <div class="col-lg-7">
              <p>Konsultan akan menghubungi Anda dalam waktu 24 jam</p>
            </div>
          </div>
          <!-- End F.A.Q Item-->

          <div
            class="row faq-item d-flex align-items-stretch"
            data-aos="fade-up"
            data-aos-delay="300"
          >
            <div class="col-lg-5">
              <i class="ri-question-line"></i>
              <h4>Berapa biaya untuk melakukan konsultasi ergonomi?</h4>
            </div>
            <div class="col-lg-7">
              <p>
                Biaya konsultasi hanya sebesar Rp150.000,00 untuk sekali
                konsultasi
              </p>
            </div>
          </div>
          <!-- End F.A.Q Item-->

          <div
            class="row faq-item d-flex align-items-stretch"
            data-aos="fade-up"
            data-aos-delay="400"
          >
            <div class="col-lg-5">
              <i class="ri-question-line"></i>
              <h4>Bagaimana cara membeli produk ergonomi?</h4>
            </div>
            <div class="col-lg-7">
              <p>
                Pengguna dapat membeli produk ergonomi melalui aplikasi ini yang
                akan dihubungkan dengan Tokopedia atau Shopee.
              </p>
            </div>
          </div>
          <!-- End F.A.Q Item-->

          <div
            class="row faq-item d-flex align-items-stretch"
            data-aos="fade-up"
            data-aos-delay="500"
          >
            <div class="col-lg-5">
              <i class="ri-question-line"></i>
              <h4>Aplikasi ini cocok digunakan untuk siapa?</h4>
            </div>
            <div class="col-lg-7">
              <p>
                Aplikasi ini dapat digunakan untuk pekerja formal, informal, dan
                pelajar.
              </p>
            </div>
          </div>
          <!-- End F.A.Q Item-->
        </div>
      </section>
      <!-- End F.A.Q Section -->
    </main>
    <!-- End #main -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="{{ config.ASSETS_ROOT }}/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/vendor/aos/aos.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="{{ config.ASSETS_ROOT }}/js/homepage.js"></script>
  </body>
</html>
