{% extends "layouts/base-fullscreen.html" %} {% block title %} Tutor Recruitment {% endblock %} {% block meta %}
<meta http-equiv="refresh"
    content="3; URL=https://docs.google.com/document/d/1d3ar791JVVuEe0ZF9X84qK-B1HVTFmlwI59VkycAYGE/edit?usp=sharing" />

{% endblock %} {% block content %}

<div class="auth-wrapper">
    <div class="auth-content">
        <div class="auth-bg">
            <span class="r"></span>
            <span class="r s"></span>
            <span class="r s"></span>
            <span class="r"></span>
        </div>
        <div class="card">
            <div class="card-body text-center">
                <div class="mb-4">
                    <i class="feather x-circle"></i>
                </div>
                <h3 class="mb-4">Wait a moment...</h3>

                <br />

                <span class="mb-0 text-muted">
                    We're redirecting you to Homework. Not Working?
                    <a
                        href="https://docs.google.com/document/d/1d3ar791JVVuEe0ZF9X84qK-B1HVTFmlwI59VkycAYGE/edit?usp=sharing">Click
                        Here</a>
                </span>
            </div>
        </div>
    </div>
</div>

{% endblock content %}