{% extends "layouts/base.html" %}

{% block title %} Jadwal Konsultasi {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<section class="pcoded-main-container">
    <div class="pcoded-wrapper">

        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="page-header-title">
                                    <h5 class="m-b-10"></h5>
                                </div>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                    <li class="breadcrumb-item"><a href="#!">Jadwal konsultasi</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ breadcrumb ] end -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">


                            <!-- [ Hover-table ] start -->
                            <div class="col-xl-12">
                                <div class="card">
                                    {% for message in get_flashed_messages() %}
                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    {% endfor %}
                                    <div class="card-header">
                                        <h5>Jadwal konsultasi</h5>

                                    </div>
                                    <div class="card-block table-border-style">
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Id</th>
                                                        <th>Nama</th>
                                                        <th>Tanggal</th>
                                                        <th>Email</th>
                                                        <th>No. HP</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for jan in janji %}
                                                    <tr>
                                                        <td>{{ jan.id }}</td>
                                                        <td>{{ jan.nama }}</td>
                                                        <td>{{ jan.tgl }}</td>
                                                        <td>{{ jan.email }}</td>
                                                        <td>{{ jan.hp }}</td>
                                                        <td>
                                                            <form action="/edit/{{ jan.id }}">
                                                                <button class="btn btn-warning"
                                                                    value="{{ jan.id }}">edit</button>
                                                            </form>
                                                        </td>
                                                        <td>
                                                            <form action="/jadwal" method="GET">
                                                                <button type="submit" class="btn btn-danger"
                                                                    name="hapus" value="{{ jan.id }}">Hapus</button>
                                                            </form>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Hover-table ] end -->

                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}