{% extends "layouts/base-fullscreen.html" %} {% block title %} Program Raih
TOEFL {% endblock %} {% block meta %}
<meta http-equiv="refresh"
  content="3; URL=https://docs.google.com/forms/d/e/1FAIpQLSf8eQls4gNZe6oULXprW66L6fTEYkEjuFJuVGJR7IBiMGMw2w/viewform?usp=sharing&ouid=115910710413292327152" />

{% endblock %} {% block content %}

<div class="auth-wrapper">
  <div class="auth-content">
    <div class="auth-bg">
      <span class="r"></span>
      <span class="r s"></span>
      <span class="r s"></span>
      <span class="r"></span>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <div class="mb-4">
          <i class="feather x-circle"></i>
        </div>
        <h3 class="mb-4">Wait a moment...</h3>

        <br />

        <span class="mb-0 text-muted">
          We're redirecting you to Join our Team (Unpaid Internship) in Raih Cita. Not Working?
          <a
            href="https://docs.google.com/forms/d/e/1FAIpQLSf8eQls4gNZe6oULXprW66L6fTEYkEjuFJuVGJR7IBiMGMw2w/viewform?usp=sharing&ouid=115910710413292327152">Click
            Here</a>
        </span>
      </div>
    </div>
  </div>
</div>

{% endblock content %}