{% extends "layouts/base.html" %} {% block title %} Kebijakan Privasi {%
endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
          <div class="page-block">
            <div class="row align-items-center">
              <div class="col-md-12">
                <div class="page-header-title">
                  <h5 class="m-b-10">ErgoCust</h5>
                </div>
                <ul class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="/"><i class="feather icon-home"></i></a>
                  </li>
                  <li class="breadcrumb-item">
                    <a href="javascript:">Kebijakan Privasi</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
          <div class="page-wrapper">
            <!-- [ Main Content ] start -->
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <h5>Kebijakan Privasi</h5>
                  </div>
                  <div class="card-block">
                    <p>
                      Website ergocust.com dimiliki oleh Ergocust, yang akan
                      menjadi pengontrol atas data pribadi Anda.
                    </p>

                    <p>
                      Kami telah mengadopsi Kebijakan Privasi ini untuk
                      menjelaskan bagaimana kami memproses informasi yang
                      dikumpulkan oleh ergocust.com, yang juga menjelaskan
                      alasan mengapa kami perlu mengumpulkan data pribadi
                      tertentu tentang Anda. Oleh karena itu, Anda harus membaca
                      Kebijakan Privasi ini sebelum menggunakan website
                      ergocust.com.
                    </p>

                    <p>
                      Kami menjaga data pribadi Anda dan berjanji untuk menjamin
                      kerahasiaan dan keamanannya.
                    </p>

                    <h4>
                      <strong>Informasi pribadi yang kami kumpulkan:</strong>
                    </h4>

                    <p>
                      Saat Anda mengunjungi ergocust.com, kami secara otomatis
                      mengumpulkan informasi tertentu mengenai perangkat Anda,
                      termasuk informasi tentang browser web, alamat IP, zona
                      waktu, dan sejumlah cookie yang terinstal di perangkat
                      Anda. Selain itu, selama Anda menjelajahi Website, kami
                      mengumpulkan informasi tentang setiap halaman web atau
                      produk yang Anda lihat, website atau istilah pencarian apa
                      yang mengarahkan Anda ke Website, dan cara Anda
                      berinteraksi dengan Website. Kami menyebut informasi yang
                      dikumpulkan secara otomatis ini sebagai &quot;Informasi
                      Perangkat&quot;. Kemudian, kami mungkin akan mengumpulkan
                      data pribadi yang Anda berikan kepada kami (termasuk
                      tetapi tidak terbatas pada, Nama, Nama belakang, Alamat,
                      informasi pembayaran, dll.) selama pendaftaran untuk dapat
                      memenuhi perjanjian.
                    </p>

                    <h4><strong>Mengapa kami memproses data Anda?</strong></h4>

                    <p>
                      Menjaga data pelanggan agar tetap aman adalah prioritas
                      utama kami. Oleh karena itu, kami hanya dapat memproses
                      sejumlah kecil data pengguna, sebanyak yang benar-benar
                      diperlukan untuk menjalankan website. Informasi yang
                      dikumpulkan secara otomatis hanya digunakan untuk
                      mengidentifikasi kemungkinan kasus penyalahgunaan dan
                      menyusun informasi statistik terkait penggunaan website.
                      Informasi statistik ini tidak digabungkan sedemikian rupa
                      hingga dapat mengidentifikasi pengguna tertentu dari
                      sistem.
                    </p>

                    <p>
                      Anda dapat mengunjungi website tanpa memberi tahu kami
                      identitas Anda atau mengungkapkan informasi apa pun, yang
                      dapat digunakan oleh seseorang untuk mengidentifikasi Anda
                      sebagai individu tertentu yang dapat dikenali. Namun, jika
                      Anda ingin menggunakan beberapa fitur website, atau Anda
                      ingin menerima newsletter kami atau memberikan detail
                      lainnya dengan mengisi formulir, Anda dapat memberikan
                      data pribadi kepada kami, seperti email, nama depan, nama
                      belakang, kota tempat tinggal, organisasi, dan nomor
                      telepon Anda. Anda dapat memilih untuk tidak memberikan
                      data pribadi Anda kepada kami, tetapi Anda mungkin tidak
                      dapat memanfaatkan beberapa fitur website. Pengguna yang
                      tidak yakin tentang informasi yang wajib diberikan dapat
                      menghubungi kami melalui info@ergocust.com.
                    </p>

                    <h4><strong>Hak-hak Anda:</strong></h4>

                    <p>
                      Anda memiliki hak-hak berikut terkait data pribadi Anda:
                    </p>

                    <ul>
                      <li>Hak untuk mendapatkan penjelasan.</li>
                      <li>Hak atas akses.</li>
                      <li>Hak untuk memperbaiki.</li>
                      <li>Hak untuk menghapus.</li>
                      <li>Hak untuk membatasi pemrosesan.</li>
                      <li>Hak atas portabilitas data.</li>
                      <li>Hak untuk menolak.</li>
                      <li>
                        Hak-hak terkait pengambilan keputusan dan pembuatan
                        profil otomatis.
                      </li>
                    </ul>

                    <p>
                      Jika Anda ingin menggunakan hak ini, silakan hubungi kami
                      melalui informasi kontak di bawah ini.
                    </p>

                    <h4><strong>Link ke website lain:</strong></h4>

                    <p>
                      Website kami mungkin berisi tautan ke website lain yang
                      tidak dimiliki atau dikendalikan oleh kami. Perlu
                      diketahui bahwa kami tidak bertanggung jawab atas praktik
                      privasi website lain atau pihak ketiga. Kami menyarankan
                      Anda untuk selalu waspada ketika meninggalkan website kami
                      dan membaca pernyataan privasi setiap website yang mungkin
                      mengumpulkan informasi pribadi.
                    </p>

                    <h4><strong>Keamanan informasi:</strong></h4>

                    <p>
                      Kami menjaga keamanan informasi yang Anda berikan pada
                      server komputer dalam lingkungan yang terkendali, aman,
                      dan terlindungi dari akses, penggunaan, atau pengungkapan
                      yang tidak sah. Kami menjaga pengamanan administratif,
                      teknis, dan fisik yang wajar untuk perlindungan terhadap
                      akses, penggunaan, modifikasi, dan pengungkapan tidak sah
                      atas data pribadi dalam kendali dan pengawasannya. Namun,
                      kami tidak menjamin tidak akan ada transmisi data melalui
                      Internet atau jaringan nirkabel.
                    </p>

                    <h4><strong>Informasi kontak:</strong></h4>

                    <p>
                      Jika Anda ingin menghubungi kami untuk mempelajari
                      Kebijakan ini lebih lanjut atau menanyakan masalah apa pun
                      yang berkaitan dengan hak perorangan dan Informasi pribadi
                      Anda, Anda dapat mengirim email ke info@ergocust.com.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- [ Main Content ] end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
