<!DOCTYPE html>
<html>
  <head>
    <title>TOEFL Quiz</title>
  </head>
  <body>
    <h1>TOEFL Quiz</h1>
    <form method="POST" action="/submit">
      {% for q in questions %}
      <fieldset>
        <legend>{{ q.id }}. {{ q.question }}</legend>
        {% for choice in q.choices %}
        <input type="radio" name="{{ q.id }}" value="{{ loop.index0 }}" />
        {{ choice }}<br />
        {% endfor %}
      </fieldset>
      <br />
      {% endfor %}
      <button type="submit">Submit Answers</button>
    </form>
  </body>
</html>
